/* * {
  width: auto;
  height: auto;
} */
h1 {
  text-align: center;
}
.paragraph1 {
  text-align: center;
}
.rougMots {
  color: rgb(161, 25, 25);
}

.vertMots {
  color: rgb(7, 80, 46);
}
