/* * {
  width: auto;
  height: auto;
} */
h1 {
  text-align: center;
}
.paragraph1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.rougMots {
  color: rgb(161, 25, 25);
}

.vertMots {
  color: rgb(7, 80, 46);
}
/* --------------------- Exercice 1 partie 2 -------------------- */

.paragraph2 {
  background-color: rgb(16, 114, 170);
}
