* {
  width: auto;
  height: auto;
}
/* premier ligne avec 2 bloc */
.ligne1 {
  display: grid;
  grid-template-columns: 80% 19%;
  grid-template-rows: 35px;
}
.blocVert {
  grid-row: 1;
  background-color: #61ce73;
}
.blocBleu {
  grid-row: 1;
  background-color: #1a7cbd;
}
/* deuxième ligne avec 3 bloc */
.ligne2 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 60px;
}
.blocRouge {
  grid-row: 1;
  background-color: #dd1515;
}
.blocOrange {
  grid-row: 1;
  background-color: #fd8700;
}
.blocgrey {
  grid-row: 1;
  background-color: #838386;
}
/* troixième ligne avec 4 bloc */
.ligne3 {
  display: grid;
  grid-template-columns: 33% 22% 22% 22%;
  grid-template-rows: 60px;
}

.blocJaune {
  grid-row: 1;
  background-color: #c79221;
}
.blocVert1 {
  grid-row: 1;
  background-color: #338b75;
}

/* quatrième lign avec 1 bloc */
.ligne4 {
  display: grid;
  grid-template-columns: 99%;
  grid-template-rows: 150px;
}

.blocGry1 {
  grid-row: 1;
  background-color: #313131;
}
